@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
	font-size: 13px;
	line-height: 150%;
}
h1{
    text-align: center;
    margin: 100px;
}
#frame{
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}
#top{
    margin: 50px;
    text-align: center;
}
#select{
    margin-bottom: 5px;
    text-align: center;
}

#id{
    margin-bottom: 5px;
    text-align: center;
}
#pass{
    margin-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.text{
    text-align: center;
}
#button{
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
}
.click{
    background-color:  #0099FF;
    color: #FFF;
}

hr {
  border-top: 1px dashed #ccc;
  width: 80%;
  margin-top: 50px;
}


#sentence{
    text-align: center;
    margin-top: 50px;
}
#button2{
    text-align: center;
    text-decoration: none;
    margin: 0px;
}
#new{
    background-color:  #0099FF;
    color: #FFF;
}