body{
    margin: 0;
    padding: 0;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
    font-size: 18px;
    line-height: 150%;
}

/*wrapper*/
.wrapper{
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
    min-height: 100vh;
}

/*header*/
header{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

.title{
    margin-right: auto;
}

.item{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

/*footer*/
footer{
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    background: cornflowerblue;
    color: #fff;
    text-align: center;
}

/*search*/
#search{
    text-align: center;
}
.search{
    border: 1px solid cornflowerblue;
}
.click{
    background-color:  cornflowerblue;
}

/*nav*/
.nav2{
    width:100%;
}
.nav2 ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav2 ul li{
    float: left;
    width: 20%;
    text-align: center;
}
.nav2 ul li a{
    display: block;
    height: 20px;
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    background-color: cornflowerblue;
    border-left:1px soild white;
}

h2{
    padding-top: 100px;
    text-align: center;
}

.word_of_mouth {
    padding: 1px;
    margin: 1px;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    border: double 5px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.word_of_mouth #word {
    border:solid 2px ;
    display:inline-block; 
}

.block{
    border: 2px solid  gray;
    display: flex;
    justify-content: left;
}

.tokumei{
    width:100px;
	height:100px;
	-o-object-fit:cover;
	   object-fit:cover;
	border-radius:30%;
	-o-object-position:-20px 0px;
	   object-position:-20px 0px;
    color: black;
    text-align: left;
}

.contributor{
    color: black;
    text-align: left;
}


.toukouphoto{
    width: 100px;
	height: 100px;
}

.select{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#sub {
    box-sizing: border-box;
    top: 26%;
    height: 100%;
    width: 250px;
    position: absolute;
    overflow: auto;
    background: #eee;
    font-size: 15px;
  }

  h3{
      text-align: center;
  }

/*footer*/
footer{
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    background: cornflowerblue;
    color: #fff;
    text-align: center;
}
